<thead>
    <tr>
        <% for (const h of headers) { %>
      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"><%= h %></th>
        <% }); %>
    </tr>
</thead>
<tbody>
    {% for i in applicants_list %}
    <tr>
    <td>
        <div class="d-flex px-2 py-1">
        <div class="d-flex flex-column justify-content-center">
            <h6 class="mb-0 text-sm">{{i.NAME}}</h6>
        </div>
        </div>
    </td>
    <td>
        <div class="d-flex px-2 py-1">
        <div class="d-flex flex-column justify-content-center">
            <h6 class="mb-0 text-sm">{{i.USERNAME}}</h6>
        </div>
        </div>
    </td>
    </tr>
    {% endfor %}
</tbody>